/*post HTML*/
#map
{
    margin-top: 80px;
    margin-bottom: 80px;
    height: 450px;
    width: 100%;
}
.user
{
    font-size: 20px;
}
div.scroll
{
    max-height: 450px;
    overflow: auto;
}
.authorComment
{
    max-height: 120px;
}
.postHeader
{
    font-size: 30px;
    color: white;
}
.siteHeader
{
    /*color: #4dd0e1;*/
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
}
body
{
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;
}
/*index HTML*/
.postedRoute
{
    font-size: 20px;
}
.routeDescription
{
    font-size: 16px;
}
.card-panel:hover
{
    background-color: aqua;
    cursor: pointer;
}
.header {
  height: 300px;
  background: url(../images/road.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  transform-origin: center top;
  transform:
    translateZ(-#{$scroll-factor * 2}px)
    scale(1 + $scroll-factor * 2);
  position: relative;
    z-index: -5;
    top: -70px;
}
/*.header {
    background-image: url(../images/road.jpg);
    height: 300px;
    position: relative;
    z-index: -5;
    top: -70px;
}*/
#slogan
{
    text-align: center;
    color:white;
    font-size: 40px;
    background-color: #444444;
    opacity: 0.5;
    margin: 0px auto;
    width: 50%;
    position: relative;
    top: 125px;



   /* margin-left: 16.6%;
    margin-right: 16.6%;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: dashed;
    border-bottom-color: yellow;
    border-bottom-width: thick;
    border-top: dashed;
    border-top-color: yellow;
    border-top-width: thick;*/
}
.logoImg
{
    height: 60px;
}
a
{
    text-decoration: none;
    color: inherit;
}
#actionBar
{
/*    margin-bottom: 150px;*/
    text-align: center;
    color:#4dd0e1;
    padding-top: 20px;
}
#naviButton:hover
{
    color:aqua;
    cursor: pointer;
}
#favorite:hover
{
    color:aqua;
    cursor: pointer;
}
#gotoLocation:hover
{
    color:aqua;
    cursor: pointer;
}
#rideLater:hover
{
    color:aqua;
    cursor: pointer;
}
/*
* ==============LOGIN/REGISTER FORM ================
*/
body {
      font-family: "Roboto", sans-serif;

  background: #ecf0f1;
}
.form-wrap {
  position: relative;
  margin: 60px auto;
  background: #FFFFFF;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
}
.form-wrap h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  margin-top: 10px;
  color: #34495e;
}
.form-wrap .form {
  padding-top: 20px;
}
.form-wrap .form input[type="text"],
.form-wrap .form input[type="password"],
.form-wrap .form button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
}
.form-wrap .form input[type="text"],
.form-wrap .form input[type="password"] {
   width: 77%;
}
.form-wrap .form input[type="text"],
.form-wrap .form input[type="password"] {
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
}
.form-wrap .form input[type="text"]:focus,
.form-wrap .form input[type="password"]:focus {
  border: 1px solid #3498db;
}
.form-wrap .form a {
  text-align: center;
  font-size: 10px;
  color: #3498db;
}
.form-wrap .form a p {
  padding-bottom: 10px;
}
.form-wrap .form button {
  background: #26a69a;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease;
}
.form-wrap .form button:hover {
  box-shadow: 1px 1px 5px #555;
}
.form-wrap .form button:active {
  box-shadow: 1px 1px 7px #222;
}
.form-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(left, #72D3C9 0%, #72D3C9 25%, #26a69a 25%, #26a69a 50%, #059C8C 50%, #059C8C 75%, #01766A 75%, #01766A 100%);
  background: -moz-linear-gradient(left, #72D3C9 0%, #72D3C9 25%, #26a69a 25%, #26a69a 50%, #059C8C 50%, #059C8C 75%, #01766A 75%, #01766A 100%);
  height: 5px;
  border-radius: 5px 5px 0 0;
}
#passwordConfirmed {
  margin-bottom: 0px !important;
}
.waypointInfo i {
    position: relative;
    bottom: -10px;
}
.waypointDetails {
    border: 1px solid #bbb;
    box-shadow: 2px 2px 10px #333;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.waypointDetails div:not(:first-child) {
  padding: 0 10px;
}
.waypointDetails .waypointName {
  background-color: #00acc1;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}
.waypointInfo .title .value, .userDetails .email{
    font-weight: normal !important;
    font-size: 20px !important;
    color: #00acc1;
}
.waypointDetails .waypointName {
  font-weight: normal;
  color: white;
  font-size: 18px !important;
}
.waypointInfo .value {
  font-weight: bold;
  font-size: 15px;
}
.passwordError {
  background-color: red;
  display: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 80%;
  margin-left: 10%;
  position: relative;
  top: -25px;
}
.commentSection .comment,
.commentSection .newComment{
  border: 1px solid #bbb;
  box-shadow: 1px 1px 3px #333;
  margin: 10px;
  border-radius: 3px;
  background-color: #ecf0f1;
  padding: 10px;
}
.commentSection .comment * {
  display: block;
}
.commentSection .commentAuthorId {
  color: #00acc1;
  font-size: 16px;
}
.commentSection .commentDate {
  color: #AAAAAA;
}
.commentSection textarea {
  border-radius: 4px;
  background-color: #FAFAFA;
}
.commentSection button {
  background: #00acc1;
  color: white;
  padding: 0px 15px;
}
.commentSection .newComment {
  margin: 10px auto;
}
.commentSection {
    visibility: visible;
    display: block;
    background: white;
    padding: 10px!important;
}
.comments {
    height: 60%;
    overflow: auto;
}
hr {
    display: block;
    border: 0;
    border-top: 1px solid #00acc1;
    margin: 0;
    padding: 0;
}

.gallery-img {
    width: 100px;
    height: 70px;
}

#images > li{
    display: inline;
    margin: 10px;
}

#waypointInfoModal {
    width: 90% !important;
    max-height: 90% !important;
    overflow: hidden;
}

#newWaypointModal {
    width: 50% !important;
    max-height: 100% !important;
}

#waypointInfoModal .waypointContainer {
    width: 40%;
    float: right;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

#waypointInfoModal .commentSection {
    height: 330px;
}

.slider {
    width: 55%!important;
    float: left!important;
    margin-top: 40px;
}

.indicator-item.active {
    background: #00acc1!important;
}
.boxclose {
    float: right;
    margin-top: -15px;
    margin-right: -10px;
}
.userDetails .email {
    margin: 15px 0px;
    font-size: 25px;
}
.userDetails .helpingText {
    font-size: 17px;
    display: inline;
}
.userDetails #subscribeBtn {
    background: #FF5733!important;
    padding: 7px 8px;
}
.userDetails .subscription a {
    margin-left: 20px;
}
.userDetails .subscription a, .userDetails .subscription span{
    display: none;
}
.userDetails .subscription span {
    color: #FF5733;
}
.numberOfLeftWaypoints {
    display: none;
}
.waypointInfo .description {
    margin-top: 15px;
}
#waypointInfoModal .btn {
    background: #00acc1!important;
}
.userDetails > *:not(:first-child) {
    margin: 25px 5px;
}
.footerLinks > li{
    display: inline;
}
.userDetails .value {
    font-size: 18px;
    font-weight: bold;
}
#recentlyAddedRoutes {
    margin-top: 80px;
    margin-bottom: 80px;
}
.postedRoute .routeDate {
    font-size: 15px;
}
.closestWaypoints {
    margin-top: 80px;
}
#naviButton {
    position: absolute;
    top: 540px;
    left: 700px;
    z-index: 5;
}